@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/main.css");
@import url("styles/topicos.css");
@import url("styles/rodape.css");

:root {
    
    --corFundo-principal: #1B1D1F;
    --corFundo-sec: #8B00FF;
    --vermelho: #F0461A;
    --fonteDestaque: #3996FF;

    --corFonte-destaque: #000000;
}

body {
    background-color: var(--corFundo-principal);
    color: white;
    margin: 0;
}