.cabecalho {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: var(--corFundo-sec);
    margin: 0;
    font-family: var(--fontePrinci);
    font-weight: 700;
}

.cabecalho__titulo {
    width: 20%;
    font-size: 1.75em;
    color: #000;
}

.cabecalho__titulo-destaque {
    color: var(--corFonte-destaque);
}

.cabecalho__container-links {
    display: none;
}

.cabecalho__imagem-user {
    width: 80%;
    padding: 0.5em;
}

.cabecalho__link {
    width: 15%;
}