.topicos {
    display: flex;
    justify-content: center;
    font-family: var(--fontePrinci);
}

.cabecalho__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__botao {
    margin-left: 1em;
    background-image: url("../imgs/Resumo.svg");
    width: 100%;
    text-decoration: none;
    appearance: none;
}

.container__rotulo {
    display: flex;
}

.cabecalho__menu-hamburguer {
    width: 20em;
    height: 3em;
    background-image: url("../imgs/Resumo.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.lista-menu {
    display: none;
    position: relative;
    top: 0;
    width: 45vw;
    gap: 1em;
}

.lista-menu__titulo {
    background: transparent;
    padding: 0.25em;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.lista-menu__item {
    background: rgb(84,9,150);
    padding: 1em 0;
    padding-left: 0.5em;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.resumo .lista-menu__texto {
    font-size: 1.5em;
}

.resumo {
    width: 90%;
    border: 2px solid var(--corFundo-sec);
    border-radius: 1em;
    margin: 0;
}

.lista__resumo {
    margin: 1em;
}

