.topicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontePrinci);
  }
  
  .topicos__lista {
    list-style-type: none;
    padding: 0;
  }
  
  .lista__button {
    display: flex;
  }
  
  .lista__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
  }

  .lista__titulo {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
  }

  .lista__texto {
    margin-top: 0.5em;
  }
  
  #button__resumo {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 1em;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 0.5em 0 0.5em;
    background-image: url("../imgs/Arrow.png");
    background-repeat: no-repeat;
    justify-content: space-between;
    padding: 0 2em;
  }
  
  #button__resumo:hover {
    background: #000;
  }
  
  #lista_container_resumo {
    display: none;
    flex-direction: column;
  }
  
  .lista__itens {
    border: 2px solid #fff;
    border-radius: 1em;
    margin: 0.25em 1em 1em 1em;
    padding: 1em;
    display: none;
  }