.sobreMim {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 2em;
    background: transparent;
    border: 0.25em solid var(--corFundo-sec);
    border-radius: 1em;
}

.sobreMim__titulo {
    color: var(--corFundo-sec);
    font-family: var(--fontePrinci);
    font-weight: 700;
    padding-top: 0.75em;
    font-size: 1.5em;
}

.sobreMim__texto {
    margin: 1em;
    font-size: 1em;
    color: var(--corFundo-sec);
}

.sobreMim__texto-destaque {
    color: var(--corFundo-sec);
}

.linha {
    margin-right: 5em;
    margin-left: 5em;
    color: var(--corFundo-sec);
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 3em;
    }

    .banner__container-link {
        gap: 2.5em;
        margin-top: 1em;
    }

    .sobreMim__titulo {
        font-size: 5em;
    }

    .sobreMim__texto {
        font-size: 2.5em;
    }
}