.rodape {
    background: var(--corFundo-sec);
    padding: 1em;
    margin-top: 2em;
    flex-direction: row;
}

.rodape__titulo {
    color: var(--corFonte-destaque);
    margin-left: 0;
    padding-left: 0;
    font-family: var(--fontePrinci);
    font-weight: 700;
}

.lista-menu-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape__titulo {
        font-size: 1.5em;
        width: 20em;
        margin-top: 0.5em;
    }

    .rodape__container {
        display: flex;
        justify-content: right;
        margin-right: 3em;
        gap: 4.5em;
    }

    .lista-menu-rodape {
        display: flex;
        justify-content: right;
        flex-direction: column;
        gap: 2em;
    }

    .lista-menu__item-rodape {
        padding-top: 2em;
        margin-bottom: 1em;
    }

    .lista-menu__link-rodape {
        font-size: 1.5em;
        border-left: 3px solid var(--corFundo-principal);
        padding: 0.5em;
        margin: 0.5em;
        color: var(--corFundo-principal);
        text-decoration: none;
    }
}

